# terraform.tfvars.example

# Required:
project_id = "your-gcp-project-id" # Replace with your actual Google Cloud Project ID
snmp_source_ip_cidr = "YOUR_PUBLIC_IP/32" # Replace YOUR_PUBLIC_IP with your actual public IP, e.g., "1.2.3.4/32"

librenms_host = "librenms.example.com" # Replace with your actual LibreNMS server hostname or IP address
librenms_token = "token" # Replace with your actual LibreNMS API token or use LIBRENMS_TOKEN environment variable

# you could also do this to make it more dynamic:
# terraform apply -var="snmp_source_ip_cidr=$(curl -s ifconfig.me)/32"

# Optional (defaults are provided in variables.tf):
# region                  = "us-central1"
# zone                    = "us-central1-a"
# network_name            = "tf-lab-network"
# subnet_name             = "tf-lab-subnet"
# subnet_ip_cidr_range    = "10.0.1.0/24"
# instance_machine_type   = "e2-micro"
# instance_image          = "projects/debian-cloud/global/images/family/debian-11"
# snmp_community_string   = "5581eb63764a093c" # Default is a random 16-char string, uncomment to override

